page-home {
    ion-card {
        border-top: 2px solid colorofyourchoice!important ;
        border-radius : 15px!important ;
     }
     .masters {
        background-color: #488aff;
      }

      .login-background {
        background: url("../assets/imgs/backgr.png") no-repeat fixed center;
        background-size: cover;
      }

    
}
