page-home {
    ion-card {
        border-top: 2px solid colorofyourchoice!important ;
        border-color: black!important;
        border-radius : 20px!important ;
     }
     .masters {
        background-color: #488aff;
      }
}
