page-other-days {
    .masters {
        background-color: #1B1B1B;
      }

      ion-card {
        border-top: 2px solid colorofyourchoice!important ;
        border-radius : 13px!important ;
     }

     .date {
       font-family: Roboto;
       font-size: 15px;
     }

     .day {
      font-family: Roboto;
      font-size: 17px;
      color: black;
     }

     .image {
       width : 40px;
       height: 40px;
       margin-left: auto;
    margin-right: auto;
     }

     .day{
      font-family: Roboto;
      font-size: 30px;
      color: black;
     }

     .night {
      font-family: Roboto;
      font-size: 30px;
      color: black;
      text-align: right;
     }

     .desc {
      font-family: Roboto;
      font-size: 17px;
      color: black;
     }
}
